# 데이터노드 Private IP
PRIVATE_IP=

# Timezone
TZ=Asia/Seoul

# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Redis
REDIS_PASSWORD=

# MongoDB (최초 루트 계정)
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
